@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.main-con {
    margin: 0 auto;
    /* max-width: 1000px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.col {
    /* max-width: 1000px; */
    display: flex;
    gap: 0px;
    margin: 0px;
}

/* .bottom {
    height: 200px;
} */


.bottom-stuff {
    /* max-width: 100; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.canvas-size {
    display: flex;
    gap: 10px;
}

.bottom {
    display: flex;
    gap: 10px;
}

p {
    font-family: "Roboto Mono", monospace;
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
    padding: 0;
}

input, button {
    font-family: "Roboto Mono", monospace;
    /* width: max-content; */
    height: 40px;
    margin: 0;
    /* padding: 0px 20px; */
}

button {
    /* padding: 10px; */
    border-radius: 10px;
    border: 0px;
    padding: 0px 20px;
}

input {
    width: 80px;
    padding: 0px;
    border: 0;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
}


.colInner {
    background-color: hsl(0, 0%, 0%);
    transition: 0.01s ease;
    
}

/* .colInner:hover {
    background-color: white;
} */
